USE [master]
GO
/****** Object:  Database [APIDB]    Script Date: 12-12-2023 10:18:43 ******/
CREATE DATABASE [APIDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APIDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TIPL\MSSQL\DATA\APIDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'APIDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TIPL\MSSQL\DATA\APIDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APIDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APIDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12-12-2023 10:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Gender], [Salary]) VALUES (1, N'Mark', N'Hastings', N'Male', 60000)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Gender], [Salary]) VALUES (3, N'Ben', N'Hoskins', N'Male', 70000)
INSERT [dbo].[Employees] ([ID], [FirstName], [LastName], [Gender], [Salary]) VALUES (4, N'Philip', N'Hastings', N'Male', 45000)
SET IDENTITY_INSERT [dbo].[Employees] OFF
USE [master]
GO
